<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Summary Editor</title>
</head>
<body>
<table>
  <thead>
  <tr><td>Product</td>
  <% StandardMetrics.metrics.each do |c| %>
    <td><%=c[:title]%></td>
  <% end %>
</tr>
</thead>
<tbody>

  <% DB.products.each do |product| %>
  <% productname =  "#{product['team']} / #{product['name']}" %>
    <tr><td><%=productname%></td>
    </tr>
  <% end %>

</tbody>
</table>
</body>
</html>
